name: Deploy to GitHub Pages
- name: Install deps
run: npm ci || npm i


- name: Build
# If your repo is NOT <username>.github.io, set ELEVENTY_PATH_PREFIX to "/<REPO_NAME>/"
env:
ELEVENTY_PATH_PREFIX: "/${{ github.event.repository.name }}/"
run: npm run build


- name: Upload artifact
uses: actions/upload-pages-artifact@v3
with:
path: _site


deploy:
needs: build
runs-on: ubuntu-latest
environment:
name: github-pages
url: ${{ steps.deployment.outputs.page_url }}
steps:
- name: Deploy to GitHub Pages
id: deployment
uses: actions/deploy-pages@v4
